infra/n8n/workflows/morning-lead-digest.json
{
  "name": "QYRO Morning Lead Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Morning Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"runs\": [\n    {\n      \"tenantId\": \"{{$env.N8N_TENANT_ID}}\",\n      \"lookbackHours\": {{$env.N8N_DIGEST_LOOKBACK_HOURS || 12}}\n    }\n  ]\n}"
      },
      "id": "build-payload",
      "name": "Build Digest Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_API_BASE_URL || 'http://host.docker.internal:3005'}}/webhooks/morning/digest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-webhook-secret",
              "value": "={{$env.INTERNAL_WEBHOOK_SECRET}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "fetch-digest",
      "name": "Fetch Morning Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data || {};\nconst totals = payload.totals || {};\nconst run = Array.isArray(payload.runs) && payload.runs.length > 0 ? payload.runs[0] : {};\nconst lines = [\n  `QYRO Morning Digest`,\n  `Tenant: ${run.tenantId || 'n/a'}`,\n  `Window: last ${run.lookbackHours || 12}h`,\n  `New prospects: ${totals.newProspects || 0}`,\n  `Pending approvals (window): ${totals.pendingApproval || 0}`,\n  `Pending approvals (total): ${run.pendingApprovalTotal || 0}`,\n  `Approved (window): ${totals.approved || 0}`,\n  `Blocked by QA (window): ${totals.blocked || 0}`\n];\nreturn [{\n  json: {\n    summaryText: lines.join('\\n'),\n    digest: payload\n  }\n}];"
      },
      "id": "format-summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$env.N8N_DIGEST_WEBHOOK_URL || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "should-notify",
      "name": "Webhook URL Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_DIGEST_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.summaryText}}\"\n}"
      },
      "id": "send-notification",
      "name": "Send Digest Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1510,
        220
      ]
    }
  ],
  "connections": {
    "Morning Trigger": {
      "main": [
        [
          {
            "node": "Build Digest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Payload": {
      "main": [
        [
          {
            "node": "Fetch Morning Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Morning Digest": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Webhook URL Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook URL Configured?": {
      "main": [
        [
          {
            "node": "Send Digest Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "5d0a0f9a-d274-4a26-917f-f5d3e9f06e22"
}
